[Unit]
Description=Auto Reverse SSH
Requires=systemd-networkd-wait-online.service
After=systemd-networkd-wait-online.service

# Try to restart forever!
StartLimitIntervalSec=0   

[Service]
# run as a user who has .ssh/id_rsa private key available (usually not root)
User=pi
Type=simple
Restart=always
RestartSec=60       

[Service]
ExecStart=/usr/bin/autossh -M 0 -N -R 0:localhost:22 ***user@public.com*** -o ForwardX11=no -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -o ServerAliveInterval=20

[Install]
WantedBy=multi-user.target
