[Unit]
Description=TMV Camera Interface (web, webservice, screen, etc)
After=network.target
# Try to restart forever!
StartLimitIntervalSec=0

[Service]
User=pi
WorkingDirectory=/home/pi/tmv
ExecStart=/home/pi/tmv/venv/bin/tmv-interface --config-file /etc/tmv/camera.toml
#ExecStart=/usr/local/bin/tmv-cameratmv-interface --config-file /etc/tmv/camera.toml

Restart=always
# Wait a bit before restart
RestartSec=60

[Install]
WantedBy=multi-user.target