[Unit]
Description=Time Made Visible Video Making Daemon
After=network.target
# Try to restart forever!
StartLimitIntervalSec=0
# Optionally, reboot if x fails within 60 seconds
#StartLimitIntervalSec=60
#StartLimitBurst=5
#StartLimitAction=reboot.

[Service]
Type=simple
Restart=always
# Wait a bit before restart
RestartSec=60
User=bbeeson
ExecStart=/usr/local/bin/tmv-videod --config-file /etc/tmv/videod.toml --log-level=DEBUG

[Install]
WantedBy=multi-user.target
